.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item img {
  pointer-events: none;
  user-select: none;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.background {
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  z-index: 4;
}

.widgetItem {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    199.67deg,
    rgba(149, 249, 133, 0.2) 6.4%,
    rgba(196, 196, 196, 0) 91.57%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.26);
  backdrop-filter: blur(40px);
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio {
  font-size: 1.3rem;
  text-align: center;
  padding: 15px;
  user-select: none;
}

.portfolioLink > a,
a:link {
  font-size: 2rem;
  user-select: none;
}

.email > a,
a:link {
  font-size: 1.5rem;
}

a,
a:visited,
a:hover,
a:active,
a:focus,
a:link {
  color: #fff;
  text-decoration: none;
  text-align: center;
  user-select: none;
}

.changeLanguage > button {
  color: #fff;
  background: none;
  border: none;
  font-size: 1.35rem;
  text-align: center;
  padding: 20px;
  margin: 0;
  cursor: pointer;
}

.dragMeText {
  display: none;
  position: absolute;
  left: 15px;
  top: 20px;
  color: #fff;
  font-size: 0.8rem;
  transform: rotate(340deg);
}

@media screen and (min-width: 480px) {
  .dragMeText {
    display: block;
  }
}
